.allcontainer {
	width: 200px;
	background: #f7f09d4a;
	margin: auto;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
}
#start {
	background: green;
	width: 60px;
	height: 30px;
	cursor: pointer;
}
#pause {
	background: blue;
	width: 60px;
	height: 30px;
	cursor: pointer;
}
#stop {
	background: red;
	width: 60px;
	height: 30px;
	cursor: pointer;
}
button {
	margin-bottom: 20px;
}